{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "globals": {
    "localStorage": true,
    "fetch": true
  },
  "rules": {
    "semi": [2, "always"],
    "no-case-declarations": 0,
    "prefer-promise-reject-errors": 0,
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/react-in-jsx-scope": 0,
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "react/display-name": 0,
    "import/export": 0
  }
}
