body {
  margin: 0;
  --danger-color: #ff4444;
  --danger-color-dark: #cc0000;
  --warning-color: #ffbb33;
  --warning-color-dark: #ff8800;
  --success-color: #00c851;
  --success-color-dark: #007e33;
  --info-color: #33b5e5;
  --info-color: #0099cc;
  --primary-color: #4285f4;
  --primary-color-dark: #0d47a1;
  background-color: var(--primary-background);
  color: var(--text-color);
}

body.dark {
  --text-color: white;
  --secondary-color: #0066ff;
  --primary-background: #212121;
  --secondary-background: #2f323a;
}

body.light {
  --text-color: black;
  --secondary-color: #0066ff;
  --primary-background: white;
  --secondary-background: #eee;
}

.main {
  margin-left: 240px;
}

.container {
  margin: 0 10px 0 10px;
}

.col {
  float: left;
  margin-top: 6px;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.show-sidebar {
  display: none;
  padding: 16px 8px 16px 16px;
}

.show-sidebar a {
  color: var(--text-color);
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    margin-top: 0;
  }

  .main {
    margin-left: 0;
  }

  .show-sidebar {
    display: block;
  }
}

label {
  padding: 12px 12px 12px 0;
}
