body {
  margin: 0;
  background-color: var(--primary-background);
  color: var(--text-color);
}

body.dark {
  --text-color: white;
  --primary-color: #0066ff;
  --primary-color-lighter: #0066ffb9;
  --secondary-color: #0066ff;
  --primary-background: #212121;
  --secondary-background: #2f323a;
  --error-color: red;
}

body.light {
  --text-color: black;
  --primary-color: #0066ff;
  --primary-color-lighter: #0066ffb9;
  --secondary-color: #0066ff;
  --primary-background: white;
  --secondary-background: #eee;
  --error-color: red;
}

.main {
  margin-left: 240px;
}

.container {
  margin: 0 10px 0 10px;
}

.col {
  float: left;
  margin-top: 6px;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
}

label {
  padding: 12px 12px 12px 0;
}
