.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table td {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  padding: 8px 10px;
}

.data-table td:first-child {
  border-left: none;
}

.data-table td:last-child {
  border-right: none;
}

.data-table tbody tr {
  cursor: pointer;
}

.data-table tbody tr:hover,
.data-table tbody tr.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}
