.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary-background);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav .nav-link {
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--sidebar-color);
  display: block;
}

.sidenav .nav-link:hover,
.sidenav .nav-link.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.sidenav .theme-toggle {
  position: fixed;
  bottom: 0;
  margin: 0 0 10px 10px;
}

.close-sidebar {
  display: none;
  text-align: right;
  padding: 16px 25px 16px 16px;
}

.close-sidebar a {
  color: var(--text-color);
  font-size: 25px;
}

.close-sidebar:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .sidenav {
    display: none;
    width: 100%;
  }

  .close-sidebar {
    display: block;
  }

  .sidenav.show {
    display: block;
  }
}
